body {
    background-color: #fafafa !important;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    outline: none !important;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}
