body {
    background-color: #fafafa !important;
    font-family: 'Roboto', sans-serif;
}

input:focus {
    outline: none !important;
}

pre, code, kbd {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

pre {
    font-size: 85%;
}

code, kbd {
    font-size: 90%;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5rem;
    line-height: 1.5;
}

#app-bar input {
    color: #fff;
}

#app-bar label > span:last-of-type {
    color: #fff !important;
}
